<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meu Site</title>
    <!-- Adicione seus estilos, scripts, etc. aqui -->
</head>
<body>
<header>
    <h1>Meu Site</h1>
    <!-- Adicione elementos de cabeçalho comuns aqui -->
</header>

<nav>
    <!-- Barra de navegação comum -->
</nav>

<main>
    <!-- Conteúdo específico da página será inserido aqui -->
    <div th:include="${contentTemplate}"></div>
</main>

<footer>
    <!-- Rodapé comum -->
</footer>
</body>
</html>
