<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/public/base">

<body>
<!-- Conteúdo específico da página de usuários aqui -->
<div layout:fragment="content">
    <div class="row">
        <div class="col-xxl-12">
            <div class="card overflow-hidden">
                <div class="card-header">
                    <h3 class="card-title">Conteúdo da Página de Usuários</h3>
                </div>
                <div class="card-body">
                    <div class="d-flex mx-auto text-center justify-content-center mb-4">
                        <div class="d-flex text-center justify-content-center me-3"><span
                                class="dot-label bg-primary my-auto"></span>Total Sales
                        </div>
                        <div class="d-flex text-center justify-content-center"><span
                                class="dot-label bg-secondary my-auto"></span>Total Orders
                        </div>
                    </div>
                    <div class="chartjs-wrapper-demo w-100">
                        <canvas id="transactions" class="chart-dropshadow w-100" height="660"
                                style="display: block; box-sizing: border-box; height: 330px; width: 681px;"
                                width="1362"></canvas>
                    </div>
                </div>
            </div>
        </div> <!-- COL END -->
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title"> Table Without Borders</div>
                    <div class="prism-toggle">
                        <button class="btn btn-sm btn-primary-light">Show Code<i
                                class="ri-code-line ms-2 d-inline-block align-middle"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table text-nowrap table-borderless">
                            <thead>
                            <tr>
                                <th scope="col">User Name</th>
                                <th scope="col">Transaction Id</th>
                                <th scope="col">Created</th>
                                <th scope="col">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">Harshrath</th>
                                <td>#5182-3467</td>
                                <td>24 May 2022</td>
                                <td><span class="badge bg-primary">Fixed</span></td>
                            </tr>
                            <tr>
                                <th scope="row">Zozo Hadid</th>
                                <td>#5182-3412</td>
                                <td>02 July 2022</td>
                                <td><span class="badge bg-warning">In Progress</span></td>
                            </tr>
                            <tr>
                                <th scope="row">Martiana</th>
                                <td>#5182-3423</td>
                                <td>15 April 2022</td>
                                <td><span class="badge bg-success">Completed</span></td>
                            </tr>
                            <tr>
                                <th scope="row">Alex Carey</th>
                                <td>#5182-3456</td>
                                <td>17 March 2022</td>
                                <td><span class="badge bg-danger">Pending</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-footer d-none border-top-0"> <!-- Prism Code -->
                    <pre class="language-html" tabindex="0"><code class="language-html"><span class="token tag"><span
                            class="token tag"><span class="token punctuation">&lt;</span>div</span> <span
                            class="token attr-name">class</span><span class="token attr-value"><span
                            class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>table-responsive<span
                            class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>table</span> <span
            class="token attr-name">class</span><span class="token attr-value"><span
            class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>table text-nowrap table-borderless<span
            class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>thead</span><span
                class="token punctuation">&gt;</span></span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>tr</span><span
                    class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>th</span> <span class="token attr-name">scope</span><span
                        class="token attr-value"><span class="token punctuation attr-equals">=</span><span
                        class="token punctuation">"</span>col<span class="token punctuation">"</span></span><span
                        class="token punctuation">&gt;</span></span>User Name<span class="token tag"><span
                                class="token tag"><span class="token punctuation">&lt;/</span>th</span><span
                                class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>th</span> <span class="token attr-name">scope</span><span
                        class="token attr-value"><span class="token punctuation attr-equals">=</span><span
                        class="token punctuation">"</span>col<span class="token punctuation">"</span></span><span
                        class="token punctuation">&gt;</span></span>Transaction Id<span class="token tag"><span
                                class="token tag"><span class="token punctuation">&lt;/</span>th</span><span
                                class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>th</span> <span class="token attr-name">scope</span><span
                        class="token attr-value"><span class="token punctuation attr-equals">=</span><span
                        class="token punctuation">"</span>col<span class="token punctuation">"</span></span><span
                        class="token punctuation">&gt;</span></span>Created<span class="token tag"><span
                                class="token tag"><span class="token punctuation">&lt;/</span>th</span><span
                                class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>th</span> <span class="token attr-name">scope</span><span
                        class="token attr-value"><span class="token punctuation attr-equals">=</span><span
                        class="token punctuation">"</span>col<span class="token punctuation">"</span></span><span
                        class="token punctuation">&gt;</span></span>Status<span class="token tag"><span
                                class="token tag"><span class="token punctuation">&lt;/</span>th</span><span
                                class="token punctuation">&gt;</span></span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>tr</span><span
                    class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>thead</span><span
                class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>tbody</span><span
                class="token punctuation">&gt;</span></span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>tr</span><span
                    class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>th</span> <span class="token attr-name">scope</span><span
                        class="token attr-value"><span class="token punctuation attr-equals">=</span><span
                        class="token punctuation">"</span>row<span class="token punctuation">"</span></span><span
                        class="token punctuation">&gt;</span></span>Harshrath<span class="token tag"><span
                                class="token tag"><span class="token punctuation">&lt;/</span>th</span><span
                                class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>td</span><span class="token punctuation">&gt;</span></span>#5182-3467<span
                                class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>td</span><span
                                class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>td</span><span class="token punctuation">&gt;</span></span>24 May 2022<span
                                class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>td</span><span
                                class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>td</span><span class="token punctuation">&gt;</span></span><span
                                class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span
                                class="token attr-name">class</span><span class="token attr-value"><span
                                class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>badge bg-primary<span
                                class="token punctuation">"</span></span><span
                                class="token punctuation">&gt;</span></span>Fixed<span class="token tag"><span
                                class="token tag"><span class="token punctuation">&lt;/</span>span</span><span
                                class="token punctuation">&gt;</span></span><span class="token tag"><span
                                class="token tag"><span class="token punctuation">&lt;/</span>td</span><span
                                class="token punctuation">&gt;</span></span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>tr</span><span
                    class="token punctuation">&gt;</span></span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>tr</span><span
                    class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>th</span> <span class="token attr-name">scope</span><span
                        class="token attr-value"><span class="token punctuation attr-equals">=</span><span
                        class="token punctuation">"</span>row<span class="token punctuation">"</span></span><span
                        class="token punctuation">&gt;</span></span>Zozo Hadid<span class="token tag"><span
                                class="token tag"><span class="token punctuation">&lt;/</span>th</span><span
                                class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>td</span><span class="token punctuation">&gt;</span></span>#5182-3412<span
                                class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>td</span><span
                                class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>td</span><span class="token punctuation">&gt;</span></span>02 July 2022<span
                                class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>td</span><span
                                class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>td</span><span class="token punctuation">&gt;</span></span><span
                                class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span
                                class="token attr-name">class</span><span class="token attr-value"><span
                                class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>badge bg-warning<span
                                class="token punctuation">"</span></span><span
                                class="token punctuation">&gt;</span></span>In Progress<span class="token tag"><span
                                class="token tag"><span class="token punctuation">&lt;/</span>span</span><span
                                class="token punctuation">&gt;</span></span><span class="token tag"><span
                                class="token tag"><span class="token punctuation">&lt;/</span>td</span><span
                                class="token punctuation">&gt;</span></span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>tr</span><span
                    class="token punctuation">&gt;</span></span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>tr</span><span
                    class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>th</span> <span class="token attr-name">scope</span><span
                        class="token attr-value"><span class="token punctuation attr-equals">=</span><span
                        class="token punctuation">"</span>row<span class="token punctuation">"</span></span><span
                        class="token punctuation">&gt;</span></span>Martiana<span class="token tag"><span
                                class="token tag"><span class="token punctuation">&lt;/</span>th</span><span
                                class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>td</span><span class="token punctuation">&gt;</span></span>#5182-3423<span
                                class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>td</span><span
                                class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>td</span><span class="token punctuation">&gt;</span></span>15 April 2022<span
                                class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>td</span><span
                                class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>td</span><span class="token punctuation">&gt;</span></span><span
                                class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span
                                class="token attr-name">class</span><span class="token attr-value"><span
                                class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>badge bg-success<span
                                class="token punctuation">"</span></span><span
                                class="token punctuation">&gt;</span></span>Completed<span class="token tag"><span
                                class="token tag"><span class="token punctuation">&lt;/</span>span</span><span
                                class="token punctuation">&gt;</span></span><span class="token tag"><span
                                class="token tag"><span class="token punctuation">&lt;/</span>td</span><span
                                class="token punctuation">&gt;</span></span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>tr</span><span
                    class="token punctuation">&gt;</span></span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>tr</span><span
                    class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>th</span> <span class="token attr-name">scope</span><span
                        class="token attr-value"><span class="token punctuation attr-equals">=</span><span
                        class="token punctuation">"</span>row<span class="token punctuation">"</span></span><span
                        class="token punctuation">&gt;</span></span>Alex Carey<span class="token tag"><span
                                class="token tag"><span class="token punctuation">&lt;/</span>th</span><span
                                class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>td</span><span class="token punctuation">&gt;</span></span>#5182-3456<span
                                class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>td</span><span
                                class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>td</span><span class="token punctuation">&gt;</span></span>17 March 2022<span
                                class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>td</span><span
                                class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span
                        class="token punctuation">&lt;</span>td</span><span class="token punctuation">&gt;</span></span><span
                                class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span
                                class="token attr-name">class</span><span class="token attr-value"><span
                                class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>badge bg-danger<span
                                class="token punctuation">"</span></span><span
                                class="token punctuation">&gt;</span></span>Pending<span class="token tag"><span
                                class="token tag"><span class="token punctuation">&lt;/</span>span</span><span
                                class="token punctuation">&gt;</span></span><span class="token tag"><span
                                class="token tag"><span class="token punctuation">&lt;/</span>td</span><span
                                class="token punctuation">&gt;</span></span>
            <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>tr</span><span
                    class="token punctuation">&gt;</span></span>
        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>tbody</span><span
                class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>table</span><span
            class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span
        class="token punctuation">&gt;</span></span></code></pre> <!-- Prism Code --> </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
